<!--footer-->
<footer>
    <div class="foot">
      <div class="follow">Get in touch with us</div>
      <div class="social_links">
        <a href="https://www.instagram.com/edc_tiet/?hl=en">
          <span class="fa-stack fa-lg ig combo">
            <i class="fa fa-circle fa-stack-2x circle"></i>
            <i class="fa fa-instagram fa-stack-1x fa-inverse icon"></i>
          </span>
        </a>
        <a href="https://www.facebook.com/edctiet">
          <span class="fa-stack fa-lg fb combo">
            <i class="fa fa-circle fa-stack-2x circle"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse icon"></i>
          </span>
        </a>
        <a href="https://www.youtube.com/channel/UCI3CZXB48oplq8fmYSGclWQ">
          <span class="fa-stack fa-lg yt combo">
            <i class="fa fa-circle fa-stack-2x circle"></i>
            <i class="fa fa-youtube-play fa-stack-1x fa-inverse icon"></i>
          </span>
        </a>
        <a href="https://twitter.com/edctiet">
          <span class="fa-stack fa-lg tw combo">
            <i class="fa fa-circle fa-stack-2x circle"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse icon"></i>
          </span>
        </a>
        <a
          href="https://www.linkedin.com/school/entrepreneurship-development-cell-thapar-university/mycompany/">
          <span class="fa-stack fa-lg tw combo">
            <i class="fa fa-circle fa-stack-2x circle"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse icon"></i>
          </span>
        </a>
      </div>
      <div class="names">
        <div class="row">
          <div class="col" style="margin-right: 50%; color: #969696">
            Arpit Taneja <br />9818084700
          </div>
          <!-- <div class=" col"style="margin-right:30%">
©  EDCThapar2021
</div> -->

          <div class="col" style="color: #969696">
            Divyansh Kalia<br />
            7073013567
          </div>
        </div>
        <div class="text-center p-3 copyright">
          © EDCThapar2022
        </div>
      </div>
    </div>
  </footer>