{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7G7D38S5K5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7G7D38S5K5');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset Password</title>

    <link rel="stylesheet" href="{% static 'competition/css/font-awesome.min.css' %}">

	<link type="text/css" rel="stylesheet" href="{% static 'competition/css/style.css' %}" />

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'competition/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'competition/css/form-style.css' %}">
    <link rel="icon" href="{% static 'competition/img/favicon.ico' %}" type="image/gif" sizes="16x16">
    <style>
        h2 span{
            color: #434273;
        }
		.main-btn{
			cursor: pointer !important;
		}
        strong{
            color: red;
        }
    </style>
</head>
<body>

    <div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <h2 class="form-title"><span style="color: #939ba7;">Reset</span> <span>Password</span></h2>
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><h3 style="color: red; text-transform: capitalize;">{{ message }}</h3></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <form method="POST" id="signup-form" class="signup-form">
                        {% csrf_token %}
                        {{form|crispy}}
                        <!-- <div id="div_id_name" class="form-group"> <label for="id_name" class=" requiredField">
                Name<span class="asteriskField">*</span> </label> <div class=""> <input type="text" name="name"  class="form-input" maxlength="50" class="textinput textInput form-control" required id="id_name"> </div> </div>

                <div id="div_id_email" class="form-group"> <label for="id_email" class=" requiredField">
                Email<span class="asteriskField">*</span> </label> <div class=""> <input type="email" name="email" class="form-input" autofocus class="emailinput form-control" required id="id_email"> </div> </div>

                <div id="div_id_contact_no" class="form-group"> <label for="id_contact_no" class=" requiredField">
                Contact no<span class="asteriskField">*</span> </label> <div class=""> <input type="tel" class="form-input" name="contact_no"class="textinput textInput form-control is-invalid" required id="id_contact_no">
                <p id="error_1_id_contact_no" class="invalid-feedback"></p> <small id="hint_id_contact_no" class="form-text text-muted">Add country code before the contact no.</small> </div> </div>

                <div id="div_id_password1" class="form-group"> <label for="id_password1" class=" requiredField">
                Password<span class="asteriskField">*</span> </label> <div class=""> <input type="password" class="form-input" name="password1" class="textinput textInput form-control" required id="id_password1">
                <small id="hint_id_password1" class="form-text text-muted"><ul><li>Your password must contain at least 8 characters.</li></ul></small> </div> </div>

                <div id="div_id_password2" class="form-group"> <label for="id_password2" class=" requiredField">
                Password confirmation<span class="asteriskField">*</span> </label> <div class=""> <input type="password" class="form-input" name="password2" class="textinput textInput form-control" required id="id_password2">
                <small id="hint_id_password2" class="form-text text-muted">Enter the same password as before, for verification.</small> </div> </div>

                         -->


                        <!-- <div class="form-group">
                            <input type="text" class="form-input" name="name" id="id_name" placeholder="Name"/>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-input" name="email" id="id_email" placeholder="E-mail"/> -->
                            <!--<span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>-->
                        <!-- </div>
                        <div class="form-group">
                            <input type="phone-number" class="form-input" name="contact_no" id="id_contact_no" placeholder="Phone Number"/>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-input" name="password1" id="id_password1" placeholder="Password" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-input" name="password2" id="id_password2"
                                placeholder=" Confirm Password" />
                        </div> -->
                        <!-- <div class="form-group">
                            <input type="text" class="form-input" name="year" id="year" placeholder="Year"/>
                        </div> -->
                        <!-- <div class="form-group">
                            <input type="number" class="form-input" name="roll-number" id="roll-number" placeholder="Roll Number"/>
                        </div> -->
                        <!--<div class="form-group">
                            <input type="password" class="form-input" name="re_password" id="re_password" placeholder="Repeat your password"/>
                        </div>-->
                        <!--<div class="form-group">
                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                            <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                        </div>-->
                        <input type="submit" value="Submit" class="main-btn" style="text-decoration: none;">
                        <div class="form-group">
                            <!--<input type="submit" name="submit" id="submit" class="form-submit" value="Register"/>-->

                        </div>
                    </form>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="{% static 'competition/js/jquery.min.js' %}"></script>
    <script src="{% static 'competition/js/main.js' %}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>

  <!-- <h3>Forgot password</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form> -->
